<configuration>
    <!-- Recommendation: place status listeners towards the top of the configuration file -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />



    <!-- CAMBIAR AQUI LA RUTA DONDE SE GUARDARAN LOS LOGS -->
    <variable name="LOG_HOME" value="src/main/resources" />
    <variable name="APP_LOG" value="autores.log" />



    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Firewall Log -->
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_HOME}/${APP_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Name of compress file when we need to rollover -->
            <fileNamePattern>${LOG_HOME}/app.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LEVELS: TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>